.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: #fff;
    border-radius: 8px;
    padding: 5px 25px;
    cursor: pointer;
    border: none;
    

}
.categories h1{
    color: white;
}
.cat1,.cat2,.cat3{
    padding: 10px 20px;
    border-radius: 5px;
}
.cat1{
    background-image: linear-gradient(45deg, #F2942E, #F3C51D);
}

.cat2{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
}
.cat3{
    background-image: linear-gradient(45deg, #4176FF, #3716F7);
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.subscribe{
    height: 300px;
}
.subscribe h6{
    color: lightslategrey;
}
.form-control{
    margin-bottom: 10px;
}
footer{
    text-align: center;
    color: grey;
}